.sidGenWrapper {
   position: fixed;
   height: fit-content;
   width: 17vw;
   right: 2% !important;
   bottom: 2vh;
   z-index: 998;
   right: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center !important;
   color: rgb(212, 212, 212);
   box-shadow: 0px 0px 30px rgb(0, 0, 0);
   border-radius: 10px;
   overflow: hidden;
}

.optionsWrapper {
   display: flex;
   position: relative;
   top: 45%;
   width: 12vw;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.stackDropdown {
   flex: 1.5;
   height: 100%;
   padding: 7px;
}

.getSessionIdBtn {
   border-radius: 5px;
   padding: 15px;
   width: 100%;
   height: 100%;
   cursor: pointer;
   border: 1px solid rgba(121, 121, 121, 0);
   transition: all 0.25s;
   background: none;
   margin: 3%;
   flex: 1;
}

.getSessionIdBtn:hover {
   color: #ffffff;
   border: 1px solid white;
}

.sessionIdDisplay {
   color: rgb(90, 90, 90);
   min-width: 125%;
   border: grey;
   padding-left: 5px;
   padding-right: 5px;
   position: relative;
   background: rgb(22, 22, 22);
}

.sessionIdDisplay p {
   overflow: hidden;
   font-size: 1.2vh;
}

::-webkit-input-placeholder {
   text-align: center;
   color: #afafaf;
   letter-spacing: 0.1vw;
}

.optionsWrapper select {
   background: rgba(44, 44, 44, 0);
   border-radius: 5px;
   color: grey;
   font-size: 16px !important;
   border-color: rgba(0, 0, 0, 0) !important;
   padding: 14.5px;
   outline: none !important;
   color: #ffffff;
   transition: all 0.25s;
}

/* select:hover {
   border-color: white;
} */

.sidGenWrapper input {
   width: 300px;
   height: 50px;
   border-radius: 5px;
   margin: 2%;
   text-align: center;
   background: rgb(255, 255, 255);
   outline: none;
   color: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0) !important;
   color: beige !important;
   font-size: 1.5vh;
   border: none;
}

.slide-in-bottom {
   -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-30 14:0:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
   0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}
@keyframes slide-in-bottom {
   0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}
