.popup-wrapper {
   position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgb(0, 0, 0);
   text-align: center;
   z-index: 9999;
   font-size: 3vh;
   background: rgb(102, 14, 14);
   border-radius: 10px;
   padding: 20px;
}

.title {
   color: rgb(177, 177, 177);
   font-size: 6vh;
}


.loading-msg {
   background: #000 !important;  
   top: 60% !important;
}
