.App {
   text-align: center;
   background: rgb(24, 24, 24);
   height: 100vh;
   width: 100vw;
   color: rgb(97, 97, 97);
   overflow: hidden;
}

.btn {
   position: relative;
   /* top: 10%; */
   /* left: 50%; */
   /* transform: translate(-50%, -50%); */
   border: 2px solid rgba(95, 95, 95, 0);
   border-radius: 10px;
   padding: 20px;
   width: 18vw;
   

   /* min-width: 25vw; */
   /* padding: 20px; */
   margin-top: 35px;
   text-align: center;
   color: rgb(156, 156, 156);
   cursor: pointer;
   transition: all 0.25s;
   letter-spacing: 2.5px;
   text-transform: uppercase;
}

.btn:hover {
   color: rgb(255, 255, 255);
   border-left: 2px solid rgb(255, 255, 255);
   border-right: 2px solid rgb(255, 255, 255);
   /* box-shadow: 0px 0px 55px rgb(41, 41, 41); */
   opacity: 1 !important;
}


.logo {
   position: fixed;
   top: 10px;
   right: 10px;
   height: 100px;
opacity: .7;
/* filter: hue-rotate(160deg); */
}

.script {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   width: 75vw;
   height: 35vh;
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   /* border: 2px solid white; */
}

.cyanText {
   color: cyan !important;
}

input {
   background: rgba(0, 0, 0, 0);
   outline: none;
   border: none;
   border-radius: 5px;
   font-size: 1.5vh;
   color: white;
   min-width: 12vw;
   text-align: center;
   color: rgb(156, 156, 156);
   max-width: 16.5vw;
}

input::placeholder {
   font-size: 1.35vh;
   color: rgb(156, 156, 156);
   font-style: italic;
   text-align: center;
}


.feedback_component_wrapper {
   position: fixed;
   bottom: 20px;
   left: 20px; 
   overflow: auto;
}


.lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   top: 40%;
   width: 124px;
   height: 124px;
   margin: 8px;
   border: 13px solid rgb(25, 212, 181);
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: rgb(31, 31, 31) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
}
@keyframes lds-ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}